#features {
    padding: 100px 0px;
    background: #222222;
}

#features .sub-title {
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
}

#features h2 {
    color: #ffffff;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}

#features .cards {
    gap: 16px;
    display: flex;
    flex-wrap: wrap;
}

#features .card {
    position: relative;
    background: #ffffff;
    border-radius: 20px;
    padding: 16px;
}

#features .card img {}

#features .card div {
    background: #f2f2f2;
    padding: 40px;
    border-radius: 16px;
}

#features .card  p {
    color: #0278ed !important; 
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

#features .card .card-text {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: #222222 !important ;
}